{
  "semi": false,
  "singleQuote": true,
  "printWidth": 100,
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": ["^vue$", "<THIRD_PARTY_MODULES>", "<BUILTIN_MODULES>", "^[.]"],
  "importOrderCaseSensitive": true
}
